<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="../public/css/cancelar.css">
    <title>Cancelar Inscrição | InscriVível</title>
</head>

<body>
    <div class="main-container">
        <h1 class="cancelar">Cancelar Inscrição</h1>
        <div class="container">
            <form action="./cancelamento.php" method="post">
                <div class="input-group">
                    <i class="fas fa-envelope"></i>
                    <input type="email" id="email" name="email" placeholder="Digite seu e-mail" required>
                </div>
                <button type="submit" class="btn">Cancelar Inscrição</button>
            </form>
            <div class="cancel-link">
                <a href="../public/index.html">Voltar à página de inscrição</a>
            </div>
        </div>
    </div>
</body>

</html>
