* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 2rem;
    background: linear-gradient(to bottom, #87CEEB, #f0f8ff);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.main-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    max-width: 900px;
    flex-wrap: wrap;
    text-align: center;
}

.inscricao h1{
    flex: 1;
    text-align: center;
    padding: 0 2rem;
    font-size: 2.8rem;
    margin-bottom: 20px;
}

.container {
    flex: 1;
    background: white;
    padding: 70px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
}
.container i {
    font-size: 50px;
    color: #007bff;
}

/* Input Group */
.input-group {
    display: flex;
    align-items: center;
    background: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 25px;
    margin-bottom: 1.5rem;
    padding: 15px;
}

.input-group i {
    color: #00a2ff;
    font-size: 2.5rem;
    margin-right: 1rem;
} 

.input-group input {
    border: none;
    outline: none;
    font-size: 1.6rem;
    flex: 1;
    color: #333;
    background: transparent;
}

/* Botão Submit */
.submit-btn, .btn {
    color: #ffffff;
    font-size: 1.6rem;
    font-weight: 600;
    border: none;
    border-radius: 25px;
    padding: 1rem;
    width: 100%;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    background: #007bff;
}
.btn:hover {
    background: #0056b3;
}
.cancel-link {
    margin-top: 15px;
    font-size: 1.4rem;
}
.cancel-link a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}

/* Responsividade */
@media (max-width: 1024px) {
    .main-container {
        flex-direction: column;
        align-items: center;
    }
    .inscricao h1 {
        text-align: center;
        padding: 0;
        margin-bottom: 20px;
        font-size: 2.5rem;
    }
}

@media (max-width: 768px) {
    .container {
        padding: 30px;
        max-width: 90%;
    }
    .input-group {
        padding: 15px;
    }
    .input-group i {
        font-size: 2rem;
    }
    .btn {
        font-size: 1.4rem;
        padding: 10px;
    }
}

@media (max-width: 430px) {
    html {
        font-size: 55%;
    }
    .container {
        padding: 20px;
    }
    .inscricao h1 {
        font-size: 2rem;
    }
    .input-group {
        flex-direction: column;
        padding: 10px;
    }
    .input-group i {
        margin-bottom: 5px;
    }
    .btn {
        font-size: 1.2rem;
    }
}
